.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 350px;
    margin: 0 auto;
    padding: 10px 0;
    background-color: white;
    margin-top: 15px;
}
.input {
    padding: 5px;
    width: 200px;
    margin: 10px;
}
.btn {
    position: relative;
    width: 150px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}
.btn:active {
    top: -1px;
    left: -1px;
}
.label {
    display: flex;
    flex-direction: column;
}